.btn {
  width:120px;
  border:0px none;
  border-radius: 3%;
  padding: 6px 6px;
  color: black;
  cursor:pointer;
  font-family: helvetica;
}

.btn--update {
  background-color: grey;
}

.btn--update:hover {
  background-color: darkgrey;
}

.btn--delete {
  background-color: #FF0000;
}

.btn--delete:hover {
  background-color: #CC0000;
}

.btn--wrapper {
  margin: 0px 0px 0px 0px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.btn--new{
  background-color: #0687f5;
}

.btn--new:hover {
  background-color: #0000FF;
}