input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Kreon', cursive;
}

select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 font-size: 0.8em;
 -webkit-appearance: none;
 background: url('/images/78_record.png') 96% / 15% no-repeat black;
 font-family: 'Merriweather', serif;
 border: 1px solid #eee;
} 

:focus {
  outline-color: transparent;
  outline-style: none;
}