input[type="submit"] {
  text-transform: uppercase;
  font-family: helvetica;
}

select {
 width: 150px;
 padding: 0px 0px 0px 0px;
 font-size: 1.0em;
 font-family: helvetica;
 border: 0px solid #eee;
} 

:focus {
  outline-color: transparent;
  outline-style: none;
}