<!DOCTYPE html>
<html>
<head>
  <title>Marks Majik Musical Minagerie</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  
  <link rel="icon" href="/images/78_record.png" />

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
<main class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a href = "/" > <img src="/images/uncle_mark.jpg" />
      </li>
    <!--   <li>
        <a href = "/"> <img src = "/images/uncle_mark_cartoon.jpg" height = 90px, width = 90px /> </a>
      </li> -->
      <li>
        <a href="/inventory">Inventory</a>
      </li>
      <li>
        <a href="/artists">Artists</a>
      </li>
      <li>
        <a href="/albums">Albums</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>