<a href = "/"><h1>Marks Majik Musical Minagerie</h1></a>
<h2>Inventroy</h2>

<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Genre</th>
  </tr>
  <% for inventory in @inventory do %>
  <tr>
    <td><%= inventory.artist().name() %></td>
    <td><%= inventory.album().title() %></td>
    <td><%= inventory.album().quantity() %></td>
    <td><%= inventory.album().genre() %></td>
  </tr>
  <% end %>
</table>