<a href = "/"><h1>Marks Majik Musical Minagerie</h1></a>
<h2>Inventroy</h2>

<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Genre</th>
  </tr>
  <% for album in @inventory do %>
  <tr>
    <td><%= album.artist().name() %></td>
    <td><%= album.title() %></td>
    <td><%= album.quantity() %></td>
    <td><%= album.genre() %></td>
  </tr>
  <% end %>
</table>