<a href = "/"><h1>Marks Majik Musical Menagerie</h1></a>
<h2>Artists</h2>

<table>
  <% for artist in @artists do %>
  <tr>
    <td><%= artist.name %></td>
    <td>
    <p>
      <form action="/artists/<%= artist.id %>/delete" method="POST">
        <input class="btn btn--delete" type="submit" value="delete" />
      </form>
    </p>
    </td>
  </tr>
    <% end %>
  </table>
  <p class="btn--wrapper">
    <a class="btn btn--new" href="/artists/new">New Artist</a>
  </p>