<a href = "/"><h1>Marks Majik Musical Minagerie</h1></a>
<h2>New Artist</h2>

<form action="/artists" method="post">
  <p>
    <form>
      <p>Name of new Artist: <input type="text"></p>
      <input type="submit">
    </form>
  </p>

  <!-- <input class="btn btn--action" type='submit' value="Add">
</form> -->