<h1>Albums</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Genre</th>
  </tr>
  <% for album in @albums do %>
  <tr>
    <td><%= album.title %></td>
    <td>|</td>
    <td><%= album.quantity %></td>
    <td>|</td>
    <td><%= album.genre %></td>
  </tr>
  <% end %>
</table>