<a href = "/"><h1>Marks Majik Musical Menagerie</h1></a>
<h2>New Album</h2>

<form action="/albums" method="post">
  <p>
    <form>
      <p>Name of Artist: <label>
      <select name="artist_id">
        <% for artist in @artists %>
        <option value="<%= artist.id %>"><%= artist.name %></option>
        <% end %>
      </select>
    </label></p>
      <p>Title of new Album: <input type="text" name="title"></p>
      <p>Quantity of Album: <input type="INT8" name="quantity"> </p>
      <p>Genre: <input type="text" name="genre"></p>
      <p>Buy price: <input type="text" name="buy_price"></p>
      <p>Sell price: <input type="text" name="sell_price"></p>
      <input type="submit">
    </form>
  </p>
</form>