<a href = "/"><h1>Mark's Majik Musical Menagerie</h1></a>
<h2>Order Albums</h2>

  <form action="/albums/order" method="post">
    <p>
    Select an album:
    </p>
    <p>
      <label>
        <select name="id">
          <% for album in @albums %>
          <option value="<%= album.id %>"><%= album.title %></option>
          <% end %>
        </select>
      </label>
    </p>

    
      <p>
       
        Number of albums to order: <br>
          <input type="number" name="quantity" value="" <br>
          <input type="submit">
    </form>
      </p>